<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTMX + Django</title>
    <script src="https://unpkg.com/htmx.org@1.9.6"></script>
</head>
<body>
    <h1>Welcome to HTMX with Django</h1>
    
    <button hx-get="{% url 'load_message' %}" hx-target="#message" hx-swap="outerHTML">
        Click to Load Message
    </button>
    
    <div id="message"></div>


    {% if user.is_authenticated %}
        <p>Current user: {{ user.email }}</p>
    {% else %}
        <p>Anonymous User</p>
    {% endif %}

    {% if user.is_authenticated %}
        <form action="{% url 'oidc_logout' %}" method="post">
        {% csrf_token %}
        <input type="submit" value="logout">
        </form>
    {% else %}
        <a href="{% url 'oidc_authentication_init' %}">Login</a>
    {% endif %}
</body>
</html>